

$font-body-bold: bolder 16px 'Raleway', sans-serif;
$font-body-regular: 16px 'Lato', sans-serif;
$font-body-italic: italic 16px 'Lato', sans-serif;
$font-body-italic-bold: bolder italic 16px 'Lato', sans-serif;
$font-body-light: lighter 16px 'Lato', sans-serif;

$font-mono: 16px 'Lato', monospace;